*{
    margin: 0;
    padding: 0;
}

.nav-one {
    height: 100px;
}

.nav-two {
    background-color: #1E6937;
}
.container-form-login{
    border: 1px solid black;
    width: 600px;
    height: 100vh;
<<<<<<< HEAD
=======
}
.container-form-cadastro{
    border: 1px solid black;
    width: 600px;
    height: 110vh;
>>>>>>> 0343db4f40ebd090572aa335f20e27fa35c0b41b
}

.form-module{
    margin-right: 100px;
    margin-left: 100px;
    height: 200px;

}

.logo-login{
    text-align: center!important;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
    margin-top: 5%;
=======
    margin-top: 10%;
>>>>>>> 0343db4f40ebd090572aa335f20e27fa35c0b41b
    margin-bottom: 5%;
}

.logo-login > img{
    width: 235px;
}

.btn-logar{
    width: 100%;
    background-color: #1E6937;
    color:white;
    border:none;
    height: 50px;
    border-radius: 10px;
    transition: .2s;
}

.btn-logar:hover{
    background-color: #298d4a;
    transition-delay: .2s;
}

p{
    margin-top: 10px;
    text-align: center;
}