
/* BARRA DE NAVEGAÇÃO  */

/* PAGINA PRINCIPAL */

.img-banner{
    height: 600px;
}

.divs-vantagens {
    width: 380px;
}

/* PAGINA DE LOGIN */




/*  */





/* RESPONSIVIDADE */


@media screen and (max-width: 1024px) {
    .img-banner{
        height:400px;
    }   
}

@media screen and (max-width: 540px) {
    .img-banner{
        height:200px;
    }   
}


@media scren and (max-width: 375px){
    .divs-vantagens{
        width: 200px;
    }
}