*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

.nav-one {
    height: 100px;
}

.nav-two {
    background-color: #1E6937;
}
.container-form-login{
    border: 1px solid black;
    width: 600px;
    height: 100vh;
}
.form-left{
    border: 1px solid black;
    width: 600px;
    height: 100vh;
}
.form-module{
    margin-right: 100px;
    margin-left: 100px;
    height: 200px;

}

.logo-login{
    text-align: center!important;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.logo-login > a > img{
    width: 235px;
}

.btn-logar{
    width: 100%;
    background-color: #1E6937;
    color:white;
    border:none;
    height: 50px;
    border-radius: 10px;
    transition: .2s;
}

.btn-logar:hover{
    background-color: #298d4a;
    transition-delay: .2s;
}

p{
    margin-top: 10px;
    text-align: center;
}

.banner-1{
    background-image: url(../img/banner-1.png);
}

.banners{
    margin-top: 0%;
    width: 100%;
    height: 81vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    --bs-bg-opacity: .2;
}

.form-contact{
    background-color: #ffffff;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    margin-right: 10%;
    
}

.section-text-1{
    font-weight: 900;
    color: white;
    width: 500px;
    text-align: left;
    margin-top: 20%;
    margin-left: 20%;

}